@import "src/variables";

#cadastro-cliente {
  // * {
  //   margin: 0;
  //   padding: 0;
  // }
  // padding: 0 20px;
  text-align: center;
  width: 100%;

  input,
  button {
    border-radius: 5px;
  }

  form {
    background-color: green;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .menu-options {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      font-weight: bold;
      text-decoration: underline;
      font-family: auto;
      cursor: pointer;
      div:first-child {
        margin-right: 16px;
      }
    }
  }

  main {
    margin-top: 24px;
    padding: 0 50px;

    .button-options {
      button {
        margin-right: 20px;
        margin-bottom: 16px;
        font-size: 16px;
        width: 110px;
        cursor: pointer;
      }
    }

    div {
      display: flex;
      //align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    input {
      height: 30px;
      padding-left: 10px;
      margin: 10px 0;
      margin-right: 40px;
    }

    label {
      margin-right: 10px;
    }

    textarea {
      margin-top: 10px;
    }

    button {
      height: 30px;
    }

    button:nth-child(1) {
      margin-right: 8px;
    }

    .table-scroll {
      max-height: 400px;
      overflow-y: auto;

      .customers {
        // overflow: auto;
        // height: 100px;
        height: 100px;
        overflow-y: auto;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;

        thead th {
          // position: sticky;
          top: -1px;
        }
      }

      .customers td,
      .customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      .customers tr {
        background-color: #fff;
      }

      .customers tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      .customers tr:hover {
        background-color: #ddd;
      }

      .customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: $blue;
        color: white;
      }
    }
  }
}

#form-customer {
  margin-top: 24px;
  padding: 0 50px;
  text-align: center;

  .button-options {
    button {
      margin-right: 20px;
      margin-bottom: 16px;
      font-size: 16px;
      width: 110px;
      cursor: pointer;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  input {
    height: 30px;
    padding-left: 10px;
    margin: 10px 0;
    margin-right: 40px;
  }

  label {
    margin-right: 10px;
  }

  textarea {
    margin-top: 10px;
  }

  button {
    height: 30px;
  }
}

@media (max-width: 530px) {
  #cadastro-cliente {
    .component-nav {
      display: none;
    }
    header {
      flex-direction: column;

      .cod-cliente {
        margin-bottom: 10px;
      }

      .menu-options {
        display: flex;
        justify-content: center;
        align-items: center;
        div:first-child {
          margin-right: 0;
        }
      }
    }

    main {
      margin-top: 8px;

      .button-options {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
          margin-top: 10px;
          margin-bottom: 4px;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: initial;
        justify-content: flex-start;
      }

      input {
        height: 30px;
        padding-left: 0;
        margin: 0;
        margin-right: 0;
      }

      label {
        margin-top: 15px;
        margin-bottom: 5px;
      }

      textarea {
        margin-top: 10px;
        margin-bottom: 16px;
      }
    }
  }
}
