@import "src/variables";

#cadastro-cliente {
  // * {
  //   margin: 0;
  //   padding: 0;
  // }
  // padding: 0 20px;
  text-align: center;
  width: 100%;

  input,
  button {
    border-radius: 5px;
  }

  form {
    background-color: green;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .menu-options {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-weight: bold;
      text-decoration: underline;
      font-family: auto;
      cursor: pointer;
      div:first-child {
        margin-right: 16px;
      }
    }
  }

  main {
    padding: 0 50px;

    .button-options {
      button {
        margin-right: 20px;
        margin-bottom: 16px;
        font-size: 16px;
        width: 110px;
        cursor: pointer;
      }
    }

    div {
      display: flex;
      //align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    input {
      height: 30px;
      padding-left: 10px;
      margin: 10px 0;
      margin-right: 40px;
    }

    label {
      margin-right: 10px;
    }

    textarea {
      margin-top: 10px;
    }

    button {
      height: 30px;
    }

    button:nth-child(1) {
      margin-right: 8px;
    }

    .table-scroll {
      max-height: 400px;
      overflow-y: auto;
      margin-top: 8px;

      .customers {
        // overflow: auto;
        // height: 100px;
        height: 100px;
        overflow-y: auto;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;

        thead th {
          // position: sticky;
          top: -1px;
        }

        .button-edit {
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: none;
          border-bottom: none;
          height: 100%;
        }

        // .button-edit:first-child {
        //   border-top: none;
        //   background-color: aqua;
        // }

        button:nth-child(2) {
          background-color: #fc4b27;
          cursor: pointer;
        }

        button:nth-child(2):hover {
          color: #fff;
        }
      }

      .customers td,
      .customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      .customers tr {
        background-color: #fff;
      }

      .customers tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      .customers tr:hover {
        background-color: #ddd;
      }

      .customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: $blue;
        color: white;
      }
    }
  }
}

#form-customer {
  margin-top: 24px;
  padding: 0 50px;
  text-align: center;

  .button-options {
    button {
      margin-right: 20px;
      margin-bottom: 16px;
      font-size: 16px;
      width: 110px;
      cursor: pointer;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  input {
    height: 30px;
    padding-left: 10px;
    margin: 10px 0;
    margin-right: 40px;
  }

  label {
    margin-right: 10px;
  }

  textarea {
    margin-top: 10px;
  }

  button {
    height: 30px;
  }
}

@media (max-width: 800px) {
  #cadastro-cliente {
    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
    }

    table tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: 0.35em;
    }

    table th,
    table td {
      padding: 0.625em;
      text-align: center;
    }

    table th {
      font-size: 0.85em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    main {
      .table-scroll {
        max-height: 315px;
      }
    }

    @media (max-width: 800px) {
      table {
        border: 0;
      }

      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
      }

      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
      }

      table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }

      table td:last-child {
        border-bottom: 0;
      }
    }
  }

  @media (max-width: 530px) {
    #cadastro-cliente {
      .component-nav {
        display: none;
      }
      header {
        flex-direction: column;

        .cod-cliente {
          margin-bottom: 10px;
        }

        .menu-options {
          display: flex;
          justify-content: center;
          align-items: center;
          div:first-child {
            margin-right: 0;
          }
        }
      }

      main {
        margin-top: 8px;

        .button-options {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          button {
            margin-top: 10px;
            margin-bottom: 4px;
          }
        }

        .table-scroll {
          max-height: 305px;
        }

        div {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: initial;
          justify-content: flex-start;
        }

        input {
          height: 30px;
          padding-left: 0;
          margin: 0;
          margin-right: 0;
        }

        label {
          margin-top: 15px;
          margin-bottom: 5px;
        }

        textarea {
          margin-top: 10px;
          margin-bottom: 16px;
        }
      }
    }

    #form-customer {
      margin-top: 0;
      padding: 0 8px;

      input {
        margin-right: 0;
        width: 100%;
      }

      .save-customer {
        margin-top: 24px;
      }

      button .button-edit:nth-child(1) {
        margin-left: 16px;
      }
    }
  }
}
