#caixa {
  text-align: center;
  // padding: 0px 80px;
  width: 100%;

  .cash-flow {
    padding: 0 20px;
    // tr {
    //   display: flex;
    //   flex-wrap: wrap;
    // }
    form {
      max-height: 330px;
      overflow-y: auto;
    }

    .close_cash {
      margin-top: 16px;
    }
  }
}

@media (max-width: 400px) {
  .component-nav {
    display: none;
  }
}
