#caixa {
  text-align: center;
  // padding: 0px 80px;
  width: 100%;

  .cash-flow {
    padding: 0 20px;
    // tr {
    //   display: flex;
    //   flex-wrap: wrap;
    // }

    li {
      font-weight: bold;
    }

    .user_li {
      color: #4169e1;
    }

    .pizza_li {
      color: #896b49;
    }

    form {
      margin-top: 8px;
      .box-form {
        max-height: 400px;
        overflow-y: auto;
      }

      .box_options {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 530px) {
  .box_options {
    padding: 0 24px;
  }
}

@media (max-width: 400px) {
  .component-nav {
    display: none;
  }

  .box_options {
    strong {
      margin-top: 16px;
    }
  }
}
