#cardapio {
  // padding: 0px 80px;
  width: 100%;
  text-align: center;

  .menu {
    font-size: 28px;
    font-weight: bold;
    margin: 8px 0;
    text-align: center;
  }

  .cardapio-class {
    padding: 0px 80px;
    max-height: 630px;
    overflow-y: auto;

    strong {
      font-size: 22px;
      text-decoration: underline;
      background-color: silver;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }

    .loading {
      display: flex;
      justify-content: center;
      // align-items: center;
      height: 100%;
      margin-top: 40px;
    }
  }
}

@media (max-width: 400px) {
  #cardapio {
    .component-nav {
      display: none;
    }

    .cardapio-class {
      padding: 0 40px;

      strong {
        font-size: 20px;
        height: 32px;
      }

      h4 {
        padding: 0 16px;
      }
    }
  }
}
