#cardapio {
  // padding: 0px 80px;
  width: 100%;
  text-align: center;

  h1 {
    background-color: blue;
  }

  strong {
    font-size: 22px;
    text-decoration: underline;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .loading {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100%;
    margin-top: 40px;
  }
}

// @media (max-width: 400px) {
//   #cardapio {
//   }
// }
