#home {
  width: 100%;

  .home-logo {
    text-align: center;
    h1 {
      font-size: 20px;
      margin-top: 40px;
    }

    img {
      height: 260px;
    }
  }
}

@media (max-width: 400px) {
  #home {
    .home-logo {
      height: 40px;

      img {
        width: auto;
      }
    }
    .buttons {
      padding: 0;

      button {
        height: 40px;
        width: 90px;
      }
    }

    .component-nav {
      display: none;
    }

    nav {
      display: block;
      // justify-content: space-around;
      // align-items: center;
      // min-height: 10vh;
      // background: rgb(73, 79, 82);
      // color: white;
    }

    .nav-links {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }

    .navStyle {
      color: white;
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    .navLogo {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
  }
}
