.ReactModalPortal {
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      cursor: pointer;
      font-size: 22px;
      font-family: sans-serif;
    }
  }
}
