#component_nav {
  display: block;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
  text-align: center;

  .nav-links {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .navStyle {
    color: white;
    margin-bottom: 16px;
    margin-right: 40px;
  }

  .navLogo {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
}
